## **LAB 9**

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\gms\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gms\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gms\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gms\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gms\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gms\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("data.csv")
df

,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Total,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,58,Female,White,35.8,83.4,123.9,10.9,152,114,197.8,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,48,Male,Asian,24.1,71.4,183.7,12.8,103,91,261.6,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,34,Female,Black,25.0,113.8,142.0,14.5,179,104,261.0,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,62,Male,Asian,32.7,100.4,167.4,8.8,176,118,183.4,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,27,Female,Asian,33.5,110.8,146.4,7.1,122,97,203.2,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,45,Female,Asian,39.4,114.0,76.2,13.4,109,82,187.7,60.3,88.7,19.1,6.1,Low,3582,NaN,Former,1,1
9996,41,Female,Asian,21.0,71.3,77.1,12.9,154,72,234.3,72.3,200.0,37.1,3.5,Low,2206,NaN,Never,1,1
9997,50,Female,Asian,29.0,106.3,97.5,4.9,122,61,266.0,69.8,156.1,85.8,4.9,High,3175,Heavy,Former,1,1
9998,62,Female,White,27.3,119.9,89.0,11.5,99,115,172.3,74.2,110.9,25.3,5.2,High,3478,Moderate,Never,1,0
9999,29,Male,Black,20.6,102.0,70.8,14.5,156,64,277.9,38.0,108.1,68.5,6.0,Low,2918,Heavy,Former,1,0

In [4]:
df.head()

,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Total,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,58,Female,White,35.8,83.4,123.9,10.9,152,114,197.8,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,48,Male,Asian,24.1,71.4,183.7,12.8,103,91,261.6,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,34,Female,Black,25.0,113.8,142.0,14.5,179,104,261.0,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,62,Male,Asian,32.7,100.4,167.4,8.8,176,118,183.4,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,27,Female,Asian,33.5,110.8,146.4,7.1,122,97,203.2,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0

In [5]:
df.tail()

,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Total,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
9995,45,Female,Asian,39.4,114.0,76.2,13.4,109,82,187.7,60.3,88.7,19.1,6.1,Low,3582,NaN,Former,1,1
9996,41,Female,Asian,21.0,71.3,77.1,12.9,154,72,234.3,72.3,200.0,37.1,3.5,Low,2206,NaN,Never,1,1
9997,50,Female,Asian,29.0,106.3,97.5,4.9,122,61,266.0,69.8,156.1,85.8,4.9,High,3175,Heavy,Former,1,1
9998,62,Female,White,27.3,119.9,89.0,11.5,99,115,172.3,74.2,110.9,25.3,5.2,High,3478,Moderate,Never,1,0
9999,29,Male,Black,20.6,102.0,70.8,14.5,156,64,277.9,38.0,108.1,68.5,6.0,Low,2918,Heavy,Former,1,0

In [32]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [6]:
df.shape
print(f"number of rows :{df.shape[0]}df and number of coloum :{df.head}")

number of rows :10000df and number of coloum :<bound method NDFrame.head of       Age     Sex Ethnicity   BMI  Waist_Circumference  Fasting_Blood_Glucose  \
0      58  Female     White  35.8                 83.4                  123.9
1      48    Male     Asian  24.1                 71.4                  183.7
2      34  Female     Black  25.0                113.8                  142.0
3      62    Male     Asian  32.7                100.4                  167.4
4      27  Female     Asian  33.5                110.8                  146.4
...   ...     ...       ...   ...                  ...                    ...
9995   45  Female     Asian  39.4                114.0                   76.2
9996   41  Female     Asian  21.0                 71.3                   77.1
9997   50  Female     Asian  29.0                106.3                   97.5
9998   62  Female     White  27.3                119.9                   89.0
9999   29    Male     Black  20.6                102.0                   70.8

      HbA1c  Blood_Pressure_Systolic  Blood_Pressure_Diastolic  \
0      10.9                      152                       114
1      12.8                      103                        91
2      14.5                      179                       104
3       8.8                      176                       118
4       7.1                      122                        97
...     ...                      ...                       ...
9995   13.4                      109                        82
9996   12.9                      154                        72
9997    4.9                      122                        61
9998   11.5                       99                       115
9999   14.5                      156                        64

      Cholesterol_Total  Cholesterol_HDL  Cholesterol_LDL   GGT  Serum_Urate  \
0                 197.8             50.2             99.2  37.5          7.2
1                 261.6             62.0            146.4  88.5          6.1
2                 261.0             32.1            164.1  56.2          6.9
3                 183.4             41.1             84.0  34.4          5.4
4                 203.2             53.9             92.8  81.9          7.4
...                 ...              ...              ...   ...          ...
9995              187.7             60.3             88.7  19.1          6.1
9996              234.3             72.3            200.0  37.1          3.5
9997              266.0             69.8            156.1  85.8          4.9
9998              172.3             74.2            110.9  25.3          5.2
9999              277.9             38.0            108.1  68.5          6.0

     Physical_Activity_Level  Dietary_Intake_Calories Alcohol_Consumption  \
0                   Moderate                     1538            Moderate
1                   Moderate                     2653            Moderate
2                        Low                     1684               Heavy
3                        Low                     3796            Moderate
4                   Moderate                     3161               Heavy
...                      ...                      ...                 ...
9995                     Low                     3582                 NaN
9996                     Low                     2206                 NaN
9997                    High                     3175               Heavy
9998                    High                     3478            Moderate
9999                     Low                     2918               Heavy

     Smoking_Status  Family_History_of_Diabetes  Previous_Gestational_Diabetes
0             Never                           0                              1
1           Current                           0                              1
2            Former                           1                              0
3             Never                           1                              0
4           Current                           0                              0
...             ...                         ...                            ...
9995         Former                           1                              1
9996          Never                           1                              1
9997         Former                           1                              1
9998          Never                           1                              0
9999         Former                           1                              0

[10000 rows x 20 columns]>

In [7]:
df.isnull()

,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Total,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            10000 non-null  int64
 1   Sex                            10000 non-null  object
 2   Ethnicity                      10000 non-null  object
 3   BMI                            10000 non-null  float64
 4   Waist_Circumference            10000 non-null  float64
 5   Fasting_Blood_Glucose          10000 non-null  float64
 6   HbA1c                          10000 non-null  float64
 7   Blood_Pressure_Systolic        10000 non-null  int64
 8   Blood_Pressure_Diastolic       10000 non-null  int64
 9   Cholesterol_Total              10000 non-null  float64
 10  Cholesterol_HDL                10000 non-null  float64
 11  Cholesterol_LDL                10000 non-null  float64
 12  GGT                            10000 non-null  float64
 13  Serum_Urate                    10000 non-null  float64
 14  Physical_Activity_Level        10000 non-null  object
 15  Dietary_Intake_Calories        10000 non-null  int64
 16  Alcohol_Consumption            6680 non-null   object
 17  Smoking_Status                 10000 non-null  object
 18  Family_History_of_Diabetes     10000 non-null  int64
 19  Previous_Gestational_Diabetes  10000 non-null  int64
dtypes: float64(9), int64(6), object(5)
memory usage: 1.5+ MB

In [12]:
df.drop('Age', axis=1, inplace=True)

In [14]:
df.drop('Sex',axis = 1,inplace=True)

In [16]:
df['BMI'].mode(0)

0    31.6
Name: BMI, dtype: float64

In [20]:
df['Blood_Pressure_Systolic'].fillna(df['Blood_Pressure_Systolic'].mode(0),inplace=True)

C:\Users\GMS\AppData\Local\Temp\ipykernel_16724\966280986.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Blood_Pressure_Systolic'].fillna(df['Blood_Pressure_Systolic'].mode(0),inplace=True)

In [23]:
def fillnaObjectMode(cols):
    for i in cols:
        df[i].fillna(df[i].mode()[0], inplace=True)

columns = ['BMI', 'Blood_Pressure_Systolic', 'Sex']
fillnaObjectMode(columns)

C:\Users\GMS\AppData\Local\Temp\ipykernel_16724\785641629.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0], inplace=True)
C:\Users\GMS\AppData\Local\Temp\ipykernel_16724\785641629.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0], inplace=True)

KeyError: 'Sex'

In [25]:
def fillnaIntMode(cols):
    for i in cols:
        df[i].fillna(df[i].mode()[0], inplace=True)

columns = ['Ethnicity', 'Ethnicity']
fillnaIntMode(columns)

C:\Users\GMS\AppData\Local\Temp\ipykernel_16724\2177383755.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0], inplace=True)

In [48]:
def fillnafloatMode(cols):
    for i in cols:
        df[i].fillna(df[i].mode()[0], inplace=True)

columns = ['price', 'condition']
fillnafloatMode(columns)

C:\Users\GMS\AppData\Local\Temp\ipykernel_9104\348239786.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0], inplace=True)
C:\Users\GMS\AppData\Local\Temp\ipykernel_9104\348239786.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0], inplace=True)

In [26]:
df.to_csv("processed_data")